.toggle .header {
    display: inline;
    clear: both;
}
/*
.toggle .header p {display: inline; }
.toggle .header strong {color: #ff5000 }
*/
.toggle .header:after {
    content: " ▶";
}

.toggle .header.open:after {
    content: " ▼";
}